### OOP - SQL Exercises

#### BIOINF 575

##### SOLUTION

___
<b> <font color = "red">Exercise</font></b>

* <b>Implement the class `Gene` that should have an id (`gid`), `symbol` and `description`.   
* <b>Create a list of 5 new genes with id 0, symbol "TestGene" and description "Test gene description"
* <b>Change the symbol of the second gene in the list  to "Gene2"
* <b>Create a list of genes from the file `gene_description.txt` and create a dataframe from that list.

The contains generated data that does not have any biological meaning.

In [4]:
# Write your solution here
import pandas as pd

#### Implement the Gene class

In [6]:
# implement the Gene class
# implement the __init__ method 
# in __init__ we create custom attributes:  gid, symbol and description
# implement __str__ and __repr__ methods to be able to display the object 
# implement the __eq__ method to be able to chech equality between Gnee objects

class Gene:
    def __init__(self,  gid, sym, desc): 
        # checks can be done to make sure the data is not missing and 
        # each parameter should ahve the correct type
        self.gid = gid
        self.symbol = sym
        self.description = desc
        
    def __str__(self):
        return f"Gene({self.gid},'{self.symbol}','{self.description}')"
    
    def __repr__(self):
        return f"Gene({self.gid},'{self.symbol}','{self.description}')"
    
    def __eq__(self, g):
        return self.gid == g.gid and self.symbol == g.symbol and self.description == g.description

In [7]:
# test 

g = Gene(2, "GSYM", "Gene for testing")
g

Gene(2,'GSYM','Gene for testing')

In [8]:
# Create a list of 5 new genes
# you can use a for loop or a comprehension
# Our __init__ function has parameters without default values 
# so we cannot use Gene()
# use 0 for the id, "TestGene" for the symbol, "Test gene description" for the description

n = 5
gene_lst = [Gene(0,"TestGene", "Test gene description") for i in range(n)]
gene_lst

[Gene(0,'TestGene','Test gene description'),
 Gene(0,'TestGene','Test gene description'),
 Gene(0,'TestGene','Test gene description'),
 Gene(0,'TestGene','Test gene description'),
 Gene(0,'TestGene','Test gene description')]

In [9]:
# change the gene symbol of the second gene in the list to "Gene2"
# you can access the list elements by index and 
# use the dot notation and assignment operator to change an attribute
# have a look at the list of genes after you make the change

gene_lst[1].symbol = "Gene2"

gene_lst

[Gene(0,'TestGene','Test gene description'),
 Gene(0,'Gene2','Test gene description'),
 Gene(0,'TestGene','Test gene description'),
 Gene(0,'TestGene','Test gene description'),
 Gene(0,'TestGene','Test gene description')]

#### Create a list of genes (Gene objects) from the `gene_description.txt` file, a comma separated file with the gene symbol and gene description.

In [11]:
# initialize variables for the genes list
genes_lst = []

# read lines from the file one by one
file_name = "gene_description.txt"
gene_id = 0
with open(file_name) as gene_file:
    header_line = gene_file.readline()
    print(header_line)
    for line in gene_file:
        # increase the gene id
        gene_id = gene_id + 1
        line_list = line.strip().split(",")
        line_list = [gene_id] + line_list
        # Create a Gene object and add it to the list
        # *line_list will take the values from the list 
        # and pass them as values for the parameters of the function
        # gid, sym and desc
        genes_lst.append(Gene(*line_list))
        
genes_lst

Gene,Description

[Gene(1,'Gene3','Description of gene 3'),
 Gene(2,'Gene22','Description of gene 22'),
 Gene(3,'Gene24','Description of gene 24'),
 Gene(4,'Gene70','Description of gene 70')]

#### Create pandas data frames from the genes list
##### look into the `vars` function, and `__dict__` attribute for an object

In [13]:
# To create a dataframe from an object we can use the __dict__ attribute or the vars() function

print(g.__dict__)

{'gid': 2, 'symbol': 'GSYM', 'description': 'Gene for testing'}

In [14]:
help(vars)

Help on built-in function vars in module builtins:

vars(...)
    Show vars.

    Without arguments, equivalent to locals().
    With an argument, equivalent to object.__dict__.

In [15]:
# we can create a dataframe from a dictionary if we have the columns as keys
# help(pd.DataFrame.from_dict)

# we can create a dataframe from a list of dictionaries 
# if we have each dictionary with the same key
# each dictionary in the list is a row
# help(pd.DataFrame.from_records)

import numpy as np
import pandas as pd

pd.DataFrame.from_records([vars(g)])

   gid symbol       description
0    2   GSYM  Gene for testing

In [16]:
# let's create the list of dictionaries

[vars(gene) for gene in genes_lst]

[{'gid': 1, 'symbol': 'Gene3', 'description': 'Description of gene 3'},
 {'gid': 2, 'symbol': 'Gene22', 'description': 'Description of gene 22'},
 {'gid': 3, 'symbol': 'Gene24', 'description': 'Description of gene 24'},
 {'gid': 4, 'symbol': 'Gene70', 'description': 'Description of gene 70'}]

In [17]:
# let's create the dataframe

df_genes = pd.DataFrame.from_records([vars(gene) for gene in genes_lst])
df_genes

   gid  symbol             description
0    1   Gene3   Description of gene 3
1    2  Gene22  Description of gene 22
2    3  Gene24  Description of gene 24
3    4  Gene70  Description of gene 70

In [18]:
# (Optional if you have time after the SQL exercises) 

# implement the GOTerm class
# implement the __init__ method 
# in __init__ we create custom attributes:  gid, symbol and description
# implement __str__ and __repr__ methods to be able to display the object 

class GOTerm:
    def __init__(self,  gtid, abbr, name): 
        # checks can be done to make sure the data is not missing and 
        # each parameter should ahve the correct type
        self.gtid = gtid
        self.abbr = abbr
        self.name = name
        
    def __str__(self):
        return f"GOTerm({self.gtid},'{self.abbr}','{self.name}')"
    
    def __repr__(self):
        return f"GOTerm({self.gtid},'{self.abbr}','{self.name}')"

In [19]:
# test

gt = GOTerm(5, "GO2","Cell adhesion")
gt

GOTerm(5,'GO2','Cell adhesion')

In [20]:
# (Optional if you have time after the SQL exercises) 
# Create also a list of GO terms (GOTerm objects), 
# and a list of gene to GO term tuples (gene_symbol, go_term_id) elements from the `gene_go.txt` file, 
# a file comma separated values file with the gene symbol, go term abreviation and the go term name.

file_name = "gene_go.txt"
go_term_id = 0
terms_lst = []
go_term_lst = []
genes_go_terms_lst = []
with open(file_name) as go_file:
    header_line = go_file.readline()
    print(header_line)
      # The second column in the file contains the GO terms 
    for line in go_file:
        line_lst = line.strip().split(",")
        gene_sym = line_lst[0]
        go_term = line_lst[1]
        go_term_name = line_lst[2]
        if  go_term in terms_lst:
            go_term_id = terms_lst.index(go_term) + 1
        else:
            go_term_id = go_term_id + 1
            go_term_lst.append(GOTerm(go_term_id, go_term, go_term_name))
        genes_go_terms_lst.append((gene_sym, go_term_id))
        
go_term_lst

Gene,GO,Name

[GOTerm(1,'GO66','Cell division (mitosis and meiosis)'),
 GOTerm(2,'GO250','Cell growth and differentiation'),
 GOTerm(3,'GO233','Cell signaling'),
 GOTerm(4,'GO489','Apoptosis (programmed cell death)'),
 GOTerm(5,'GO88','Autophagy'),
 GOTerm(6,'GO107','Endocytosis and exocytosis'),
 GOTerm(7,'GO112','Protein synthesis'),
 GOTerm(8,'GO482','DNA replication'),
 GOTerm(9,'GO151','Gene expression'),
 GOTerm(10,'GO119','Glycolysis'),
 GOTerm(11,'GO93','Citric acid cycle'),
 GOTerm(12,'GO427','Oxidative phosphorylation'),
 GOTerm(13,'GO254','Photosynthesis'),
 GOTerm(14,'GO192','Lipid metabolism'),
 GOTerm(15,'GO425','Protein metabolism'),
 GOTerm(16,'GO353','Nucleic acid metabolism'),
 GOTerm(17,'GO402','Digestion'),
 GOTerm(18,'GO134','Respiration'),
 GOTerm(19,'GO500','Circulation'),
 GOTerm(20,'GO417','Excretion'),
 GOTerm(21,'GO218','Osmoregulation'),
 GOTerm(22,'GO334','Thermoregulation'),
 GOTerm(23,'GO249','Immune response'),
 GOTerm(24,'GO227','Hormone secretion'),
 GOTerm(25,'GO40','Nerve impulse transmission'),
 GOTerm(26,'GO313','Embryogenesis'),
 GOTerm(27,'GO138','Organogenesis'),
 GOTerm(28,'GO103','Metamorphosis'),
 GOTerm(29,'GO257','Regeneration'),
 GOTerm(30,'GO36','Aging'),
 GOTerm(31,'GO52','Gametogenesis'),
 GOTerm(32,'GO190','Fertilization'),
 GOTerm(33,'GO242','Embryo development'),
 GOTerm(34,'GO42','Parturition'),
 GOTerm(35,'GO440','Natural selection'),
 GOTerm(36,'GO253','Genetic drift'),
 GOTerm(37,'GO429','Gene flow'),
 GOTerm(38,'GO56','Mutation'),
 GOTerm(39,'GO171','Natural selection'),
 GOTerm(40,'GO49','Genetic drift'),
 GOTerm(41,'GO438','Gene flow'),
 GOTerm(42,'GO115','Mutation'),
 GOTerm(43,'GO344','Speciation'),
 GOTerm(44,'GO329','Adaptation'),
 GOTerm(45,'GO376','Predation'),
 GOTerm(46,'GO271','Competition'),
 GOTerm(47,'GO424','Symbiosis'),
 GOTerm(48,'GO400','Decomposition'),
 GOTerm(49,'GO325','Nutrient cycling'),
 GOTerm(50,'GO410','Succession'),
 GOTerm(51,'GO418','Phototropism'),
 GOTerm(52,'GO414','Geotropism'),
 GOTerm(53,'GO409','Thigmotropism'),
 GOTerm(54,'GO166','Transpiration'),
 GOTerm(55,'GO214','Guttation'),
 GOTerm(56,'GO423','Vernalization'),
 GOTerm(57,'GO195','Enzyme catalysis'),
 GOTerm(58,'GO162','Protein folding'),
 GOTerm(59,'GO237','Ion transport'),
 GOTerm(60,'GO363','Osmosis'),
 GOTerm(61,'GO139','Diffusion'),
 GOTerm(62,'GO487','Active transport'),
 GOTerm(63,'GO124','Phototransduction'),
 GOTerm(64,'GO236','Mechanotransduction'),
 GOTerm(65,'GO200','Chemoreception'),
 GOTerm(66,'GO447','Thermoreception'),
 GOTerm(67,'GO222','Nociception'),
 GOTerm(68,'GO345','Synaptic transmission'),
 GOTerm(69,'GO106','Neurotransmitter release'),
 GOTerm(70,'GO264','Long-term potentiation'),
 GOTerm(71,'GO403','Long-term depression'),
 GOTerm(72,'GO205','Neuroplasticity'),
 GOTerm(73,'GO469','Antigen presentation'),
 GOTerm(74,'GO279','Antibody production'),
 GOTerm(75,'GO485','Phagocytosis'),
 GOTerm(76,'GO292','Inflammation'),
 GOTerm(77,'GO460','Complement activation'),
 GOTerm(78,'GO379','Learning'),
 GOTerm(79,'GO491','Memory formation'),
 GOTerm(80,'GO59','Circadian rhythm regulation'),
 GOTerm(81,'GO299','Hibernation'),
 GOTerm(82,'GO185','Migration'),
 GOTerm(83,'GO131','RNA interference (RNAi)'),
 GOTerm(84,'GO362','Alternative splicing'),
 GOTerm(85,'GO493','Post-translational modification'),
 GOTerm(86,'GO69','Protein ubiquitination'),
 GOTerm(87,'GO291','Vesicle trafficking'),
 GOTerm(88,'GO450','Nuclear pore transport'),
 GOTerm(89,'GO281','Chromatin remodeling'),
 GOTerm(90,'GO453','Telomere maintenance'),
 GOTerm(91,'GO219','DNA methylation'),
 GOTerm(92,'GO167','Histone modification'),
 GOTerm(93,'GO84','Vasodilation and vasoconstriction'),
 GOTerm(94,'GO246','Peristalsis'),
 GOTerm(95,'GO265','Glomerular filtration'),
 GOTerm(96,'GO161','Pulmonary gas exchange'),
 GOTerm(97,'GO102','Bone remodeling'),
 GOTerm(98,'GO473','Wound healing'),
 GOTerm(99,'GO188','Blood clotting'),
 GOTerm(100,'GO326','Synaptic plasticity'),
 GOTerm(101,'GO366','Muscle hypertrophy'),
 GOTerm(102,'GO100','Adipogenesis'),
 GOTerm(103,'GO50','Antigen processing')]

In [21]:
genes_go_terms_lst

[('Gene3', 1),
 ('Gene22', 2),
 ('Gene74', 3),
 ('Gene91', 4),
 ('Gene99', 5),
 ('Gene11', 6),
 ('Gene95', 7),
 ('Gene90', 8),
 ('Gene93', 9),
 ('Gene97', 10),
 ('Gene23', 11),
 ('Gene62', 12),
 ('Gene92', 13),
 ('Gene24', 14),
 ('Gene75', 15),
 ('Gene52', 16),
 ('Gene17', 17),
 ('Gene83', 18),
 ('Gene15', 19),
 ('Gene41', 20),
 ('Gene43', 21),
 ('Gene42', 22),
 ('Gene67', 23),
 ('Gene39', 24),
 ('Gene64', 25),
 ('Gene79', 26),
 ('Gene38', 27),
 ('Gene8', 28),
 ('Gene30', 29),
 ('Gene9', 30),
 ('Gene94', 31),
 ('Gene58', 32),
 ('Gene32', 33),
 ('Gene51', 34),
 ('Gene70', 35),
 ('Gene66', 36),
 ('Gene29', 37),
 ('Gene78', 38),
 ('Gene63', 39),
 ('Gene18', 40),
 ('Gene89', 41),
 ('Gene26', 42),
 ('Gene48', 43),
 ('Gene53', 44),
 ('Gene46', 45),
 ('Gene1', 46),
 ('Gene7', 47),
 ('Gene40', 48),
 ('Gene98', 49),
 ('Gene50', 50),
 ('Gene96', 51),
 ('Gene54', 52),
 ('Gene28', 53),
 ('Gene81', 54),
 ('Gene72', 55),
 ('Gene77', 56),
 ('Gene49', 57),
 ('Gene56', 58),
 ('Gene61', 59),
 ('Gene55', 60),
 ('Gene13', 61),
 ('Gene27', 62),
 ('Gene19', 63),
 ('Gene69', 64),
 ('Gene16', 65),
 ('Gene57', 66),
 ('Gene71', 67),
 ('Gene37', 68),
 ('Gene21', 69),
 ('Gene14', 70),
 ('Gene10', 71),
 ('Gene6', 72),
 ('Gene87', 73),
 ('Gene2', 74),
 ('Gene12', 75),
 ('Gene33', 76),
 ('Gene47', 77),
 ('Gene82', 78),
 ('Gene85', 79),
 ('Gene45', 80),
 ('Gene31', 81),
 ('Gene76', 82),
 ('Gene34', 83),
 ('Gene36', 84),
 ('Gene84', 85),
 ('Gene80', 86),
 ('Gene20', 87),
 ('Gene60', 88),
 ('Gene4', 89),
 ('Gene44', 90),
 ('Gene35', 91),
 ('Gene5', 92),
 ('Gene59', 93),
 ('Gene86', 94),
 ('Gene73', 95),
 ('Gene65', 96),
 ('Gene25', 97),
 ('Gene100', 98),
 ('Gene68', 99),
 ('Gene88', 100),
 ('Gene3', 101),
 ('Gene3', 102),
 ('Gene70', 103)]

____________
____________
## SQL

In [23]:
# put the import statements at the top of the notebook

# bring in the functionality from the sqlite3 module
# specifically the connect function

from sqlite3 import connect

# import pandas so you can see the select results as a dataframe
import pandas as pd

In [24]:
# put the functions at the beginning of your notebook after imports

In [25]:
# run a select query and create a dataframe

def run_select_query(query, cursor):
    cursor.execute(query)
    data_header = [t[0] for t in cursor.description]
    df = pd.DataFrame(cursor.fetchall(), columns = data_header)
    return df

In [26]:
# check the sqlite_master table

def check_master_table(cursor):
    select_master = "SELECT name, type FROM sqlite_master;"
    return run_select_query(select_master, cursor)

In [27]:
# we do the same thing multiple times - we can use a function

def run_create_table(sql, cursor, connection):
        cursor.execute(sql)
        connection.commit()

___

<b> <font color = "red">Exercise</font></b>

#### Query a database 
The music store sqlite database available in the file `chinook.db` has the tables that you can see in the below diagram.
You can download the database (the file `chinook.db`) from the following link:
https://www.sqlitetutorial.net/sqlite-sample-database/

<img src = https://www.sqlitetutorial.net/wp-content/uploads/2015/11/sqlite-sample-database-color.jpg width = 675>

https://www.sqlitetutorial.net/wp-content/uploads/2015/11/sqlite-sample-database-color.jpg

Write SQL queries to:
- Retrieve the name of the artists with more than 50 tracks in this database.
    - See the artists, albums and tracks tables and the TrackId, AlbumId and ArtistId columns in these tables.   
- What is the name of the most expensive track and the name of the artist for that track?
    - See the artists, albums and tracks tables and the ArtistId, AlbumId, TrackId, and UnitPrice columns in those tables.    
- Retrieve the name of the artist with the highest number of tracks sold.
    - See the invoice table, sum up the quantity for all tracks from albums associated with that artist.   

Feel free to build other quesries for questions you may have.

Check the list of aggregate functions - we see that for mean we use avg()  
https://www.sqlite.org/lang_aggfunc.html

In [31]:
# Write your solution here

# connect to the database

connection = connect("chinook.db")
cursor = connection.cursor()

In [32]:
# check the tables in the database

check_master_table(cursor)

                                 name   type
0                              albums  table
1                     sqlite_sequence  table
2                             artists  table
3                           customers  table
4                           employees  table
5                              genres  table
6                            invoices  table
7                       invoice_items  table
8                         media_types  table
9                           playlists  table
10                     playlist_track  table
11  sqlite_autoindex_playlist_track_1  index
12                             tracks  table
13                  IFK_AlbumArtistId  index
14           IFK_CustomerSupportRepId  index
15              IFK_EmployeeReportsTo  index
16              IFK_InvoiceCustomerId  index
17           IFK_InvoiceLineInvoiceId  index
18             IFK_InvoiceLineTrackId  index
19           IFK_PlaylistTrackTrackId  index
20                   IFK_TrackAlbumId  index
21                   IFK_TrackGenreId  index
22               IFK_TrackMediaTypeId  index
23                       sqlite_stat1  table

In [33]:
# task1: Retrieve the name of the artists with more than 50 tracks in this database.
# We need to connect all three tables to get tracks information that connect to albums that have the artistid.
# We need to group the data to count tracks for each artist (name),
# We order the results so we can easily interpret them.

task1 = '''
SELECT ar.name, count(t.trackid) c
FROM tracks t 
    JOIN albums ab ON t.albumid = ab.albumid 
    JOIN artists ar ON ar.artistid = ab.artistid
GROUP BY ar.name
HAVING c > 50
ORDER BY c DESC;
'''

run_select_query(task1, cursor)

               Name    c
0       Iron Maiden  213
1                U2  135
2      Led Zeppelin  114
3         Metallica  112
4              Lost   92
5       Deep Purple   92
6         Pearl Jam   67
7     Lenny Kravitz   57
8   Various Artists   56
9        The Office   53
10        Van Halen   52
11    Faith No More   52

In [34]:
# task2: What is the name of the most expensive track and the name of the artist for that track?
task2 = '''
SELECT t.name, ar.name, max(t.unitprice)
FROM tracks t
    JOIN albums ab ON t.albumid = ab.albumid 
    JOIN artists ar ON ar.artistid = ab.artistid;
'''

run_select_query(task2, cursor)

,Name,Name,max(t.unitprice)
0,Battlestar Galactica: The Story So Far,Battlestar Galactica,1.99

In [35]:
# What is the name of the least expensive track and the name of the artist for that track?
task2 = '''
SELECT t.name, ar.name, min(t.unitprice)
FROM tracks t
    JOIN albums ab ON t.albumid = ab.albumid 
    JOIN artists ar ON ar.artistid = ab.artistid;
'''

run_select_query(task2, cursor)

                                      Name   Name  min(t.unitprice)
0  For Those About To Rock (We Salute You)  AC/DC              0.99

In [36]:
# task3: Retrieve the name of the artist with the highest number of tracks sold.

task3 = '''
SELECT  a.name, sum(i.quantity) s
FROM invoice_items i 
    JOIN tracks t ON i.trackid = t.trackid
    JOIN albums ab ON t.albumid = ab.albumid 
    JOIN artists a ON ab.artistid = a.artistid
GROUP BY a.name
ORDER BY s
LIMIT 1;
'''

run_select_query(task3, cursor)

                                                Name  s
0  Academy of St. Martin in the Fields & Sir Nevi...  1

In [37]:
# task3: Retrieve the name of the artist with the highest number of tracks sold.
# We connect all 4 tables to get the artist name and quanity if tracks sold
# We sum up the quantity grouping by  artist 
# We order the data descending to have the highest on top and take the first row

task3 = '''
SELECT  a.name, sum(i.quantity) s
FROM invoice_items i 
    JOIN tracks t ON i.trackid = t.trackid
    JOIN albums ab ON t.albumid = ab.albumid 
    JOIN artists a ON ab.artistid = a.artistid
GROUP BY a.name
ORDER BY s DESC
LIMIT 1;
'''

run_select_query(task3, cursor)

          Name    s
0  Iron Maiden  140

In [38]:
# We could use max on the sum column

task3 = '''
SELECT name, max(s) m 
FROM 
    (SELECT  a.name, sum(i.quantity) s
    FROM invoice_items i 
        JOIN tracks t ON i.trackid = t.trackid
        JOIN albums ab ON t.albumid = ab.albumid 
        JOIN artists a ON ab.artistid = a.artistid
    GROUP BY a.name);
'''

run_select_query(task3, cursor)

          name    m
0  Iron Maiden  140

In [39]:
# answer more interesting questions here

In [40]:
# when we are done working with the database
# close the cursor and the connection

cursor.close()
connection.close()

___

<b> <font color = "red">Exercise</font></b>

#### Gene annotation database

Create a gene_go sqlite database with 3 tables gene and go_term and gene_go from the files `gene_description.txt` and `gene_go.txt`. 
* `gene_description.txt` - a comma separated file with the gene symbol and gene description
* `gene_go.txt` - a comma separated file with the gene symbol, go term abreviation and go term name

The genes table has the following columns:
* gid - integer, primary key, autoincrement
* symbol - text, not null
* desc - text

The go_terms table has the following columns:
* gtid - integer, primary key, autoincrement
* abbr - text, not null
* name - text

The gene_go:
* gene_id - integer, not null
* goterm_id - integer, not null


Run the following querries:
- A select that retrieves how many genes we have.
- A select that retrieves how many go terms we have.
- A select of the gene symbol for the gene with the highest number of associated go terms.

In [42]:
# Write your solution here

In [43]:
# create and connect to the gene_go.sqlite database
# this should be a new file
# make sure it does not exist in your current folder

connection = connect("gene_go.sqlite")

# create a cursor
cursor = connection.cursor()

In [44]:
# create tables in the database

# write the create statements

#-------
create_genes = '''
CREATE TABLE IF NOT EXISTS genes (
      gid INTEGER PRIMARY KEY AUTOINCREMENT,
      symbol TEXT NOT NULL,
      desc TEXT  NOT NULL
    );
'''
#-------
create_go_terms = '''
CREATE TABLE IF NOT EXISTS go_terms (
      gtid INTEGER PRIMARY KEY AUTOINCREMENT,
      abbr TEXT NOT NULL,
      name TEXT 
    );
'''
#-------
create_gene_go = '''
CREATE TABLE IF NOT EXISTS gene_go (
      gene_id INTEGER NOT NULL,
      goterm_id INTEGER NOT NULL,
      FOREIGN KEY (gene_id) REFERENCES genes(gid),
      FOREIGN KEY (goterm_id) REFERENCES go_terms(gtid)
    );
'''
#-------

In [45]:
# check the sqlite_master table - should be empty at this point

check_master_table(cursor)

Empty DataFrame
Columns: [name, type]
Index: []

In [46]:
cursor.description

(('name', None, None, None, None, None, None),
 ('type', None, None, None, None, None, None))

In [47]:
[t[0] for t in cursor.description]

['name', 'type']

In [48]:
list(cursor)

[]

In [49]:
# run the commands
run_create_table(create_genes, cursor, connection)
run_create_table(create_go_terms, cursor, connection)
run_create_table(create_gene_go, cursor, connection)

In [50]:
# check the sqlite_master table 
# should have the three tables

check_master_table(cursor)

              name   type
0            genes  table
1  sqlite_sequence  table
2         go_terms  table
3          gene_go  table

In [51]:
# write the insert statements

#-------
insert_gene = """
INSERT INTO genes VALUES (?,?,?)
"""
#-------

insert_go_term = """
INSERT INTO go_terms VALUES (?,?,?)
"""
#-------

insert_gene_go = """
INSERT INTO gene_go VALUES (?,?)
"""
#-------

In [52]:
genes_lst = []

# read lines from the file one by one
file_name = "gene_description.txt"
gene_id = 0
with open(file_name) as gene_file:
    header_line = gene_file.readline()
    print(header_line)
    for line in gene_file:
        # increase the gene id
        gene_id = gene_id + 1
        line_list = line.strip().split(",")
        line_list = [gene_id] + line_list
        # Create a list for a row in the genes table
        # gid, symbol and desc
        # and ad it to a rows list for the table 
        genes_lst.append(line_list)
        
genes_lst

Gene,Description

[[1, 'Gene3', 'Description of gene 3'],
 [2, 'Gene22', 'Description of gene 22'],
 [3, 'Gene24', 'Description of gene 24'],
 [4, 'Gene70', 'Description of gene 70']]

In [53]:
# insert all the sublists from genes_lst as rows in the genes table
cursor.executemany(insert_gene, genes_lst)
connection.commit()

In [54]:
# check the genes table 
# should have data now

select_genes = "SELECT * FROM genes;"
run_select_query(select_genes, cursor)

   gid  symbol                    desc
0    1   Gene3   Description of gene 3
1    2  Gene22  Description of gene 22
2    3  Gene24  Description of gene 24
3    4  Gene70  Description of gene 70

In [55]:
# create the go_terms and gene_go lists
# in the gene_go table we can have multiple genes connected to multiple go terms
# we already have the data for genes
# this file will be used to only add data/rows in the go_terms and gene_go tables
# if you want to be more thorough - add new genes without description if they appear in the gene_go table

select_gene = "SELECT gid FROM genes WHERE symbol = ?;"

file_name = "gene_go.txt"
go_term_id = 0
terms_lst = []
go_term_lst = []
genes_go_terms_lst = []
with open(file_name) as go_file:
    header_line = go_file.readline()
    # print(header_line)
      # The second column in the file contains the GO terms 
    for line in go_file:
        line_lst = line.strip().split(",")
        gene_sym = line_lst[0] # we only have the gene symbol we need the id
        cursor.execute(select_gene, [gene_sym])
        res = cursor.fetchone()
        if res: # make sure at least one id was retrieved
            gene_id = res[0]
        else: 
            gene_id = None
        go_term = line_lst[1]
        go_term_name = line_lst[2]
        if  go_term in terms_lst: # make sure we do not have duplicate go terms in the go terms table
            go_term_id = terms_lst.index(go_term) + 1
        else:
            go_term_id = go_term_id + 1
            go_term_lst.append((go_term_id, go_term, go_term_name))
        if gene_id: # make sure the gene is in the genes table
            genes_go_terms_lst.append((gene_id, go_term_id))

In [56]:
gene_sym

'Gene70'

In [57]:
cursor.arraysize

1

In [58]:
go_term_lst

[(1, 'GO66', 'Cell division (mitosis and meiosis)'),
 (2, 'GO250', 'Cell growth and differentiation'),
 (3, 'GO233', 'Cell signaling'),
 (4, 'GO489', 'Apoptosis (programmed cell death)'),
 (5, 'GO88', 'Autophagy'),
 (6, 'GO107', 'Endocytosis and exocytosis'),
 (7, 'GO112', 'Protein synthesis'),
 (8, 'GO482', 'DNA replication'),
 (9, 'GO151', 'Gene expression'),
 (10, 'GO119', 'Glycolysis'),
 (11, 'GO93', 'Citric acid cycle'),
 (12, 'GO427', 'Oxidative phosphorylation'),
 (13, 'GO254', 'Photosynthesis'),
 (14, 'GO192', 'Lipid metabolism'),
 (15, 'GO425', 'Protein metabolism'),
 (16, 'GO353', 'Nucleic acid metabolism'),
 (17, 'GO402', 'Digestion'),
 (18, 'GO134', 'Respiration'),
 (19, 'GO500', 'Circulation'),
 (20, 'GO417', 'Excretion'),
 (21, 'GO218', 'Osmoregulation'),
 (22, 'GO334', 'Thermoregulation'),
 (23, 'GO249', 'Immune response'),
 (24, 'GO227', 'Hormone secretion'),
 (25, 'GO40', 'Nerve impulse transmission'),
 (26, 'GO313', 'Embryogenesis'),
 (27, 'GO138', 'Organogenesis'),
 (28, 'GO103', 'Metamorphosis'),
 (29, 'GO257', 'Regeneration'),
 (30, 'GO36', 'Aging'),
 (31, 'GO52', 'Gametogenesis'),
 (32, 'GO190', 'Fertilization'),
 (33, 'GO242', 'Embryo development'),
 (34, 'GO42', 'Parturition'),
 (35, 'GO440', 'Natural selection'),
 (36, 'GO253', 'Genetic drift'),
 (37, 'GO429', 'Gene flow'),
 (38, 'GO56', 'Mutation'),
 (39, 'GO171', 'Natural selection'),
 (40, 'GO49', 'Genetic drift'),
 (41, 'GO438', 'Gene flow'),
 (42, 'GO115', 'Mutation'),
 (43, 'GO344', 'Speciation'),
 (44, 'GO329', 'Adaptation'),
 (45, 'GO376', 'Predation'),
 (46, 'GO271', 'Competition'),
 (47, 'GO424', 'Symbiosis'),
 (48, 'GO400', 'Decomposition'),
 (49, 'GO325', 'Nutrient cycling'),
 (50, 'GO410', 'Succession'),
 (51, 'GO418', 'Phototropism'),
 (52, 'GO414', 'Geotropism'),
 (53, 'GO409', 'Thigmotropism'),
 (54, 'GO166', 'Transpiration'),
 (55, 'GO214', 'Guttation'),
 (56, 'GO423', 'Vernalization'),
 (57, 'GO195', 'Enzyme catalysis'),
 (58, 'GO162', 'Protein folding'),
 (59, 'GO237', 'Ion transport'),
 (60, 'GO363', 'Osmosis'),
 (61, 'GO139', 'Diffusion'),
 (62, 'GO487', 'Active transport'),
 (63, 'GO124', 'Phototransduction'),
 (64, 'GO236', 'Mechanotransduction'),
 (65, 'GO200', 'Chemoreception'),
 (66, 'GO447', 'Thermoreception'),
 (67, 'GO222', 'Nociception'),
 (68, 'GO345', 'Synaptic transmission'),
 (69, 'GO106', 'Neurotransmitter release'),
 (70, 'GO264', 'Long-term potentiation'),
 (71, 'GO403', 'Long-term depression'),
 (72, 'GO205', 'Neuroplasticity'),
 (73, 'GO469', 'Antigen presentation'),
 (74, 'GO279', 'Antibody production'),
 (75, 'GO485', 'Phagocytosis'),
 (76, 'GO292', 'Inflammation'),
 (77, 'GO460', 'Complement activation'),
 (78, 'GO379', 'Learning'),
 (79, 'GO491', 'Memory formation'),
 (80, 'GO59', 'Circadian rhythm regulation'),
 (81, 'GO299', 'Hibernation'),
 (82, 'GO185', 'Migration'),
 (83, 'GO131', 'RNA interference (RNAi)'),
 (84, 'GO362', 'Alternative splicing'),
 (85, 'GO493', 'Post-translational modification'),
 (86, 'GO69', 'Protein ubiquitination'),
 (87, 'GO291', 'Vesicle trafficking'),
 (88, 'GO450', 'Nuclear pore transport'),
 (89, 'GO281', 'Chromatin remodeling'),
 (90, 'GO453', 'Telomere maintenance'),
 (91, 'GO219', 'DNA methylation'),
 (92, 'GO167', 'Histone modification'),
 (93, 'GO84', 'Vasodilation and vasoconstriction'),
 (94, 'GO246', 'Peristalsis'),
 (95, 'GO265', 'Glomerular filtration'),
 (96, 'GO161', 'Pulmonary gas exchange'),
 (97, 'GO102', 'Bone remodeling'),
 (98, 'GO473', 'Wound healing'),
 (99, 'GO188', 'Blood clotting'),
 (100, 'GO326', 'Synaptic plasticity'),
 (101, 'GO366', 'Muscle hypertrophy'),
 (102, 'GO100', 'Adipogenesis'),
 (103, 'GO50', 'Antigen processing')]

In [59]:
genes_go_terms_lst

[(1, 1), (2, 2), (3, 14), (4, 35), (1, 101), (1, 102), (4, 103)]

In [60]:
cursor.executemany(insert_go_term, go_term_lst)
connection.commit()

In [61]:
# check the go_terms table 
# should have data now

select_go_terms = "SELECT * FROM go_terms;"
run_select_query(select_go_terms, cursor)

     gtid   abbr                                 name
0       1   GO66  Cell division (mitosis and meiosis)
1       2  GO250      Cell growth and differentiation
2       3  GO233                       Cell signaling
3       4  GO489    Apoptosis (programmed cell death)
4       5   GO88                            Autophagy
..    ...    ...                                  ...
98     99  GO188                       Blood clotting
99    100  GO326                  Synaptic plasticity
100   101  GO366                   Muscle hypertrophy
101   102  GO100                         Adipogenesis
102   103   GO50                   Antigen processing

[103 rows x 3 columns]

In [62]:
cursor.executemany(insert_gene_go, genes_go_terms_lst)
connection.commit()

In [63]:
# check the gene_go table 
# should have data now

select_go_terms = "SELECT * FROM gene_go;"
run_select_query(select_go_terms, cursor)

   gene_id  goterm_id
0        1          1
1        2          2
2        3         14
3        4         35
4        1        101
5        1        102
6        4        103

In [64]:
# A select that retrieves how many genes we have.

# we use count

select_genes_count = "SELECT count(gid) 'Genes No.' FROM genes;"
run_select_query(select_genes_count, cursor)

   Genes No.
0          4

In [65]:
# A select that retrieves how many go_terms we have.

# we use count

select_go_terms_count = "SELECT count(gtid) 'Go Terms No.' FROM go_terms;"
run_select_query(select_go_terms_count, cursor)

   Go Terms No.
0           103

In [66]:
# A select of the gene symbol for the gene with the highest number of associated go terms.

select_gene_go_count = """
SELECT symbol, count(*) "GoTerm No." 
FROM gene_go
    JOIN genes ON genes.gid = gene_go.gene_id
    JOIN go_terms ON go_terms.gtid = gene_go.goterm_id

GROUP BY symbol
ORDER BY count(*)  DESC
LIMIT 1;
"""
run_select_query(select_gene_go_count, cursor)

  symbol  GoTerm No.
0  Gene3           3

In [67]:
# we are done working with this database
# close cursor and connection

cursor.close()
connection.close()

____________
____________

___

<b> <font color = "red">Exercise</font></b>

#### Package exploration
You do not need to install these packages to have a look at what they do and answer the questions.

Look into one of the following packages: 
* scipy: https://github.com/scipy/scipy
* scikit-learn: https://github.com/scikit-learn/scikit-learn
* tensorflow: https://github.com/tensorflow/tensorflow
* keras: https://github.com/keras-team/keras
* pytorch: https://github.com/pytorch/pytorch

Answer the following questions:
- Does this package come with base python or needs to be installed?
- What is the command to install the package?
- What does this package do?
    -  In your own words. The readme file can be a good resource. 
- What is one of the main functions in the package and what does it do?
    - short description - mention the input and output.
- Find a class definition. What is the file that contains the class definition (github link to the file and line number where the class definition starts)?
    - You can search for a word in GitHub repository and all files that contain that word from that repository will be retrieved with the word highlighted
-  Look for the setup.py, pyproject.toml and requirements.txt files in the package GitHub repository. These files contain configuration settings for the package like package dependencies (sometimes listed in the requirements.txt file), package version, package supported python versions. Look into the setup.py or pyproject.tomlfile for the classifiers word and in that list you will find some of these elements. Write ine classifier name and value and explain what they mean.
    - The following examples from the classifiers list means that the package supports the listed operating sysytems. Can be installed for all the listed operating systems. 
```
  "Operating System :: Microsoft :: Windows",
  "Operating System :: POSIX",
  "Operating System :: Unix",
  "Operating System :: MacOS",
```

In [70]:
# Write your solution here

### Example for bamnostic

To find out how the project will be set up look in `setup.py`:    
https://github.com/betteridiot/bamnostic/blob/master/setup.py

OPERATING SYSTEM:

Classifiers can be used for searching and to specify various package attributes.    
https://packaging.python.org/guides/distributing-packages-using-setuptools/#classifiers     
https://packaging.python.org/guides/distributing-packages-using-setuptools/#python-requires

Although the list of classifiers is often used to declare what Python versions a project supports, this information is only used for searching & browsing projects on PyPI, not for installing projects. To actually restrict what Python versions a project can be installed on, use the python_requires argument.

List of classifiers:      
https://pypi.org/classifiers/

https://pypi.org/search/?q=&o=     
If you look on the left panel at filter by classifier - operating system - you can see all operating systems. available in general.

For <b>bamnostic</b> we have:     
https://github.com/betteridiot/bamnostic/blob/master/setup.py

Operating systems: Unix, Microsoft :: Windows, MacOS
```
        "Operating System :: Unix",
        "Operating System :: Microsoft :: Windows",
        "Operating System :: MacOS",
        "Programming Language :: Python :: 2.7",
        "Programming Language :: Python :: 3",
        "Programming Language :: Python :: 3.0",
        "Programming Language :: Python :: 3.1",
        "Programming Language :: Python :: 3.2",
        "Programming Language :: Python :: 3.3",
        "Programming Language :: Python :: 3.4",
        "Programming Language :: Python :: 3.5",
        "Programming Language :: Python :: 3.6",
        "Programming Language :: Python :: 3.7",
        "Programming Language :: Python :: 3.8",
        
```

DEPENDENCIES: 

`install_requires` should be used to specify what dependencies a project minimally needs to run.    
When the project is installed by pip, this is the specification that is used to install its dependencies.
For more on using “install_requires” see install_requires vs requirements files.
https://packaging.python.org/guides/distributing-packages-using-setuptools/#install-requires
https://packaging.python.org/discussions/install-requires-vs-requirements/#install-requires-vs-requirements-files

https://python-packaging.readthedocs.io/en/latest/dependencies.html      
https://packaging.python.org/guides/distributing-packages-using-setuptools/#python-requires


For <b>bamnostic</b> we have: Dependencies: None        
https://github.com/betteridiot/bamnostic/blob/master/setup.py    


```
    # setup_requires=['pytest-runner'],
    tests_require=["pytest"],

```

Also `requirements.txt` is empty. That is the file that stores dependencies.   
https://github.com/betteridiot/bamnostic/blob/master/requirements.txt

CLASSES:

Look into the folder with the same name as the package, that is where the code is (.py files are modules).
Search for the keyword `class`.

For <b>bamnostic</b> in the file `core.py` I found a class at line 113.     
https://github.com/betteridiot/bamnostic/blob/master/bamnostic/core.py   
```
class AlignmentFile(bam.BamReader, bam.BamWriter):
```

________

#### PANDAS

OPERATING SYSTEM:

The setup information is in `setup.cfg`
https://github.com/pandas-dev/pandas/blob/master/setup.cfg

```
    Operating System :: OS Independent
    Programming Language :: Cython
    Programming Language :: Python
    Programming Language :: Python :: 3
    Programming Language :: Python :: 3 :: Only
    Programming Language :: Python :: 3.8
    Programming Language :: Python :: 3.9
    Programming Language :: Python :: 3.10

```


DEPENDENCIES:

```
packages = find:
install_requires =
    numpy>=1.18.5; platform_machine!='aarch64' and platform_machine!='arm64' and python_version<'3.10'
    numpy>=1.19.2; platform_machine=='aarch64' and python_version<'3.10'
    numpy>=1.20.0; platform_machine=='arm64' and python_version<'3.10'
    numpy>=1.21.0; python_version>='3.10'
    python-dateutil>=2.8.1
    pytz>=2020.1
python_requires = >=3.8
include_package_data = True
zip_safe = False
```


CLASS:

For <b>pandas</b> in the file `goupby.py` I found a class at line 57.
https://github.com/pandas-dev/pandas/blob/master/pandas/core/groupby/grouper.py

```
class Grouper:
    """
    A Grouper allows the user to specify a groupby instruction for an object.
    This specification will select a column via the key parameter, or if the
    level and/or axis parameters are given, a level of the index of the target
    object.

```