## SQL - Major SQL commands - sqlite recap and DBeaver and mysql
### BIOINF 575

#### Guidelines for database design:

* Normalization is the process of creating or re-arranging data relationships so that it will be easy to store and retrieve data efficiently.  Data is normalized to achieve the following goals: 
    * Eliminate data redundancies and save space 
    * Make it easier to change data 
    * Simplify the enforcement of referential integrity constraints 
    * Produce a design that is a 'good' representation of the real world (one that is intuitively easy to understand and a good base for further growth)

    * Make it easier to change data by avoiding to provide multiple values separated by commas in a column
    * All columns in a table should depend on the primary key, all extra related information should be in other tables linked by foreign keys

https://support.microsoft.com/en-us/help/283878/description-of-the-database-normalization-basics

##### RESOURCES
https://dev.mysql.com/doc/refman/8.0/en/         
https://www.w3schools.com/mysql/mysql_create_table.asp          
https://www.mysqltutorial.org/mysql-sample-database.aspx       
https://www.tutorialspoint.com/mysql/index.htm    
https://realpython.com/python-mysql/

https://dev.mysql.com/doc/refman/8.0/en/examples.html

#### Connect to the database

```mysql your-database-name```

#### Create a table and add data, then select data from the table

```sql
CREATE TABLE shop (
    article INT UNSIGNED  DEFAULT '0000' NOT NULL,
    dealer  CHAR(20)      DEFAULT ''     NOT NULL,
    price   DECIMAL(16,2) DEFAULT '0.00' NOT NULL,
    PRIMARY KEY(article, dealer));

INSERT INTO shop VALUES
    (1,'A',3.45),(1,'B',3.99),(2,'A',10.99),(3,'B',1.45),
    (3,'C',1.69),(3,'D',1.25),(4,'D',19.95);
    
SELECT * FROM shop ORDER BY article;

```


| article   | dealer   | price   |
| --------- |--------  | ------- |
|       1   | A        |  3.45   |
|       1   | B        |  3.99   |
|       2   | A        | 10.99   |
|       3   | B        |  1.45   |
|       3   | C        |  1.69   |
|       3   | D        |  1.25   |
|       4   | D        | 19.95   |

#### Examples of common querries

https://dev.mysql.com/doc/refman/8.0/en/examples.html

In [5]:
### install pymysql using the following command in a terminal:
! pip install pymysql

Requirement already satisfied: pymysql in /opt/anaconda3/lib/python3.12/site-packages (1.1.1)

In [6]:
from pymysql import connect

In [7]:
from pymysql import connect

#Create a connection object
conn =connect(host='ensembldb.ensembl.org', user='anonymous',  port=5306, db = "saccharomyces_cerevisiae_core_94_4")

In [8]:
# May need a password: password = 'password'
# Can request specific database: db = 'database'
# Get a cursor â€“ it sends SQL statements and receives responses
cursor = conn.cursor()
sql = "show tables"
cursor.execute(sql)
for (table_name,) in cursor: 
    print(table_name) 

#Do your queries, work with responses

alt_allele
alt_allele_attrib
alt_allele_group
analysis
analysis_description
assembly
assembly_exception
associated_group
associated_xref
attrib_type
biotype
coord_system
data_file
density_feature
density_type
dependent_xref
ditag
ditag_feature
dna
dna_align_feature
dna_align_feature_attrib
exon
exon_transcript
external_db
external_synonym
gene
gene_archive
gene_attrib
genome_statistics
identity_xref
interpro
intron_supporting_evidence
karyotype
map
mapping_session
mapping_set
marker
marker_feature
marker_map_location
marker_synonym
meta
meta_coord
misc_attrib
misc_feature
misc_feature_misc_set
misc_set
object_xref
ontology_xref
operon
operon_transcript
operon_transcript_gene
peptide_archive
prediction_exon
prediction_transcript
protein_align_feature
protein_feature
repeat_consensus
repeat_feature
seq_region
seq_region_attrib
seq_region_mapping
seq_region_synonym
simple_feature
stable_id_event
supporting_feature
transcript
transcript_attrib
transcript_intron_supporting_evidence
transcript_supporting_feature
translation
translation_attrib
unmapped_object
unmapped_reason
xref

In [9]:
import pandas as pd
select_genes = """
SELECT * 
FROM gene
LIMIT 5;
"""

cursor.execute(select_genes)
header = [t[0] for t in cursor.description]
df = pd.DataFrame(cursor.fetchall(), columns = header)
df

,gene_id,biotype,analysis_id,seq_region_id,seq_region_start,seq_region_end,seq_region_strand,display_xref_id,source,description,is_current,canonical_transcript_id,stable_id,version,created_date,modified_date
0,35593,protein_coding,501,28,289445,290350,1,None,sgd,None,1,35593,YBR024W,None,2018-03-28 09:28:05,2018-03-28 09:28:05
1,35592,protein_coding,501,21,11657,13360,-1,None,sgd,None,1,35592,YDL245C,None,2018-03-28 09:28:05,2018-03-28 09:28:05
2,35591,protein_coding,501,28,683373,683732,-1,None,sgd,None,1,35591,YBR232C,None,2018-03-28 09:28:05,2018-03-28 09:28:05
3,35590,protein_coding,501,21,1108484,1108621,1,None,sgd,None,1,35590,YDR320W-B,None,2018-03-28 09:28:05,2018-03-28 09:28:05
4,35589,protein_coding,501,28,281443,283344,1,None,sgd,None,1,35589,YBR021W,None,2018-03-28 09:28:05,2018-03-28 09:28:05

In [10]:
cursor.description

(('gene_id', 3, None, 10, 10, 0, False),
 ('biotype', 253, None, 160, 160, 0, False),
 ('analysis_id', 2, None, 5, 5, 0, False),
 ('seq_region_id', 3, None, 10, 10, 0, False),
 ('seq_region_start', 3, None, 10, 10, 0, False),
 ('seq_region_end', 3, None, 10, 10, 0, False),
 ('seq_region_strand', 1, None, 2, 2, 0, False),
 ('display_xref_id', 3, None, 10, 10, 0, True),
 ('source', 253, None, 160, 160, 0, False),
 ('description', 252, None, 262140, 262140, 0, True),
 ('is_current', 1, None, 1, 1, 0, False),
 ('canonical_transcript_id', 3, None, 10, 10, 0, False),
 ('stable_id', 253, None, 512, 512, 0, True),
 ('version', 2, None, 5, 5, 0, True),
 ('created_date', 12, None, 19, 19, 0, True),
 ('modified_date', 12, None, 19, 19, 0, True))

In [11]:
select_genes = """
SELECT gene_id, biotype, is_current
FROM gene
LIMIT 20;
"""

cursor.execute(select_genes)
cursor.fetchall()

((35593, 'protein_coding', 1),
 (35592, 'protein_coding', 1),
 (35591, 'protein_coding', 1),
 (35590, 'protein_coding', 1),
 (35589, 'protein_coding', 1),
 (35588, 'protein_coding', 1),
 (35586, 'tRNA', 1),
 (35587, 'protein_coding', 1),
 (35585, 'protein_coding', 1),
 (35584, 'protein_coding', 1),
 (35583, 'protein_coding', 1),
 (35578, 'protein_coding', 1),
 (35582, 'protein_coding', 1),
 (35581, 'protein_coding', 1),
 (35580, 'protein_coding', 1),
 (35579, 'protein_coding', 1),
 (35577, 'protein_coding', 1),
 (35576, 'protein_coding', 1),
 (35575, 'protein_coding', 1),
 (35574, 'protein_coding', 1))

In [12]:
cursor.description

(('gene_id', 3, None, 10, 10, 0, False),
 ('biotype', 253, None, 160, 160, 0, False),
 ('is_current', 1, None, 1, 1, 0, False))

In [13]:
select_dnaseq = """
SELECT * 
FROM seq_region
LIMIT 20;
"""

cursor.execute(select_dnaseq)
cursor.fetchall()

((1, 'BK006935.2', 1, 230218),
 (2, 'BK006936.2', 1, 813184),
 (3, 'BK006937.2', 1, 316620),
 (4, 'BK006938.2', 1, 1531933),
 (5, 'BK006939.2', 1, 576874),
 (6, 'BK006940.2', 1, 270161),
 (7, 'BK006941.2', 1, 1090940),
 (8, 'BK006934.2', 1, 562643),
 (9, 'BK006942.2', 1, 439888),
 (10, 'BK006943.2', 1, 745751),
 (11, 'BK006944.2', 1, 666816),
 (12, 'BK006945.2', 1, 1078177),
 (13, 'BK006946.2', 1, 924431),
 (14, 'BK006947.3', 1, 784333),
 (15, 'BK006948.2', 1, 1091291),
 (16, 'BK006949.2', 1, 948066),
 (17, 'AJ011856.1', 1, 85779),
 (19, 'XI', 2, 666816),
 (20, 'IX', 2, 439888),
 (21, 'IV', 2, 1531933))

In [14]:
cursor.description

(('seq_region_id', 3, None, 10, 10, 0, False),
 ('name', 253, None, 1020, 1020, 0, False),
 ('coord_system_id', 3, None, 10, 10, 0, False),
 ('length', 3, None, 10, 10, 0, False))

In [15]:
select_dnaseq_syn = """
SELECT * 
FROM seq_region_synonym
LIMIT 20;
"""

cursor.execute(select_dnaseq_syn)
cursor.fetchall()

((1, 33, 'BK006935.2', 50710),
 (2, 28, 'BK006936.2', 50710),
 (3, 22, 'BK006937.2', 50710),
 (4, 21, 'BK006938.2', 50710),
 (5, 27, 'BK006939.2', 50710),
 (6, 26, 'BK006940.2', 50710),
 (7, 35, 'BK006941.2', 50710),
 (8, 25, 'BK006934.2', 50710),
 (9, 20, 'BK006942.2', 50710),
 (10, 23, 'BK006943.2', 50710),
 (11, 19, 'BK006944.2', 50710),
 (12, 24, 'BK006945.2', 50710),
 (13, 30, 'BK006946.2', 50710),
 (14, 29, 'BK006947.3', 50710),
 (15, 32, 'BK006948.2', 50710),
 (16, 31, 'BK006949.2', 50710),
 (17, 34, 'AJ011856.1', 50710))

In [16]:
cursor.description

(('seq_region_synonym_id', 3, None, 10, 10, 0, False),
 ('seq_region_id', 3, None, 10, 10, 0, False),
 ('synonym', 253, None, 1000, 1000, 0, False),
 ('external_db_id', 3, None, 10, 10, 0, True))

In [20]:
# Clean up - do this when done with the database
cursor.close()
conn.close()

### Using custom objects together with SQL
### sqlalchemy

#### We will follow the tutorial here:

https://www.sqlalchemy.org/library.html#talks

https://github.com/zzzeek/sqla_tutorial/blob/main/slides/04_orm_basic.py

Another resource:    
https://docs.sqlalchemy.org/en/14/orm/tutorial.html#version-check

In [22]:
! pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from SQLAlchemy) (4.11.0)

In [90]:
import sqlalchemy

In [92]:
sqlalchemy.__version__

'2.0.30'

In [94]:
# code from:
# https://www.sqlalchemy.org/library.html#talks
# https://github.com/zzzeek/sqla_tutorial/blob/main/slides/04_orm_basic.py

In [96]:
### slide::
### title:: Object Relational Mapping
# SQLAlchemy mappings in 1.4 / 2.0 start with a central object
# known as the *registry*

from sqlalchemy.orm import registry


mapper_registry = registry()

### slide::
# Using the registry, we can map classes in various ways, below illustrated
# using its "mapped" decorator.
# In this form, we arrange class attributes in terms of Column objects
# to be mapped to a Table, which is named based on an attribute
# "__tablename__"

from sqlalchemy import Column, Integer, String


@mapper_registry.mapped
class User:
    __tablename__ = "user_account"

    id = Column(Integer, primary_key=True)
    username = Column(String)
    fullname = Column(String)

    def __repr__(self):
        return "<User(%r, %r)>" % (self.username, self.fullname)


### slide::
# the User class now has a Table object associated with it.

User.__table__

### slide:: i
# The Mapper object mediates the relationship between User
# and the "user" Table object.  This mapper object is generally behind
# the scenes.

User.__mapper__

### slide::
# User has a default constructor, accepting field names
# as arguments.

spongebob = User(username="spongebob", fullname="Spongebob Squarepants")
spongebob

### slide::
# Attributes which we didn't set, such as the "id", are displayed as
# None when we access them

repr(spongebob.id)

'None'

In [98]:
spongebob

In [104]:
### slide:: p
# Using our registry, we can create a database schema for this class using
# a MetaData object that is part of the registry.

from sqlalchemy import create_engine

engine = create_engine("sqlite:///test.sqlite")
with engine.begin() as connection:
    mapper_registry.metadata.create_all(connection)

### slide::
# To persist and load User objects from the database, we
# use a Session object, illustrated here from a factory called
# sessionmaker.  The Session object makes use of a connection
# factory (i.e. an Engine) and will handle the job of connecting,
# committing, and releasing connections to this engine.

from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine, future=True)

session = Session()

### slide::
# new objects are placed into the Session using add().
session.add(spongebob)

In [106]:
### slide:: i
# This did not yet modify the database, however the object is now known as
# **pending**.  We can see the "pending" objects by looking at the session.new
# attribute.
session.new

IdentitySet([<User('spongebob', 'Spongebob Squarepants')>])

In [108]:
### slide:: p
# We can now query for this **pending** row, by emitting a SELECT statement
# that will refer to "User" entities.   This will first **autoflush**
# the pending changes, then SELECT the row we requested.

from sqlalchemy import select

select_statement = select(User).filter_by(username="spongebob")
result = session.execute(select_statement)
result

In [110]:

### slide:: i
# We can get the data back from the result, in this case using the
# .scalar() method which will return the first column of the first row.
also_spongebob = result.scalar()
also_spongebob

In [112]:

### slide::
# the User object we've inserted now has a value for ".id"
spongebob.id

1

In [114]:
### slide:: i
# the Session maintains a *unique* object per identity.
# so "spongebob" and "also_spongebob" are the *same* object

spongebob is also_spongebob

True

In [116]:
### slide:: i
# this is known as the **identity map**, and we can look at it on
# the Session.

session.identity_map.items()

[((__main__.User, (1,), None), <User('spongebob', 'Spongebob Squarepants')>)]

In [118]:
### slide::
### title:: Making Changes
# Add more objects to be pending for flush.

session.add_all(
    [
        User(username="patrick", fullname="Patrick Star"),
        User(username="sandy", fullname="Sandy Cheeks"),
    ]
)

In [120]:


### slide:: i
# modify "spongebob" - the object is now marked as *dirty*.

spongebob.fullname = "Spongebob Jones"

### slide::
# the Session can tell us which objects are dirty...

session.dirty

IdentitySet([<User('spongebob', 'Spongebob Jones')>])

In [122]:

### slide:: i
# and can also tell us which objects are pending...

session.new

IdentitySet([<User('patrick', 'Patrick Star')>, <User('sandy', 'Sandy Cheeks')>])

In [124]:
### slide:: p i
# The whole transaction is committed.  Commit always triggers
# a final flush of remaining changes.

session.commit()

In [126]:
### slide:: p
# After a commit, theres no transaction.  The Session
# *invalidates* all data, so that accessing them will automatically
# start a *new* transaction and re-load from the database.  This is
# our first example of the ORM *lazy loading* pattern.

spongebob.fullname

'Spongebob Jones'

In [128]:
### slide::
### title:: rolling back changes
# Make another "dirty" change, and another "pending" change,
# that we might change our minds about.

spongebob.username = "Spongy"
fake_user = User(username="fakeuser", fullname="Invalid")
session.add(fake_user)

In [130]:
### slide:: p
# run a query, our changes are flushed; results come back.

result = session.execute(
    select(User).where(User.username.in_(["Spongy", "fakeuser"]))
)
result.all()

[(<User('Spongy', 'Spongebob Jones')>,), (<User('fakeuser', 'Invalid')>,)]

In [132]:

### slide::
# But we're inside of a transaction.  Roll it back.
session.rollback()

In [134]:

### slide:: p
# Again, the transaction is over, objects are expired.
# Accessing an attribute refreshes the object and the "Spongy" username is gone
spongebob.username

'spongebob'

In [136]:

### slide::
# "fake_user" has been evicted from the session.
fake_user in session

False

In [138]:
### slide:: pi
# and the data is gone from the database too.

result = session.execute(
    select(User).where(User.username.in_(["spongebob", "fakeuser"]))
)
result.all()

[(<User('spongebob', 'Spongebob Jones')>,)]

In [140]:

### slide::
### title:: ORM Querying
# The attributes on our mapped class act like Column objects, and
# produce SQL expressions.

print(User.username == "spongebob")

user_account.username = :username_1

In [142]:

### slide::
# When ORM-specific expressions are used with select(), the Select construct
# itself takes on ORM-enabled features, the most basic of which is that
# it can discern between selecting from *columns* vs *entities*.  Below,
# the SELECT is to return rows that contain a single element, which would
# be an instance of User.   This is translated from the actual SELECT
# sent to the database that SELECTs for the individual columns of the
# User entity.

query = (
    select(User).where(User.username == "spongebob").order_by(User.id)
)

### slide:: ip
# the rows we get back from Session.execute() then contain User objects
# as the first element in each row.
result = session.execute(query)

for row in result:
    print(row)

(<User('spongebob', 'Spongebob Jones')>,)

In [144]:

### slide:: p
# As it is typically convenient for rows that only have a single element
# to be delivered as the element alone, we can use the .scalars() method
# of Result as we did earlier to return just the first column of each row

result = session.execute(query)
for user_obj in result.scalars():
    print(user_obj)

### slide:: pi
# we can also qualify the rows we want to get back with methods like
# .one()

result = session.execute(query)

user_obj = result.scalars().one()
print(user_obj)

<User('spongebob', 'Spongebob Jones')>
<User('spongebob', 'Spongebob Jones')>

In [146]:

### slide:: p
# An ORM query can make use of any combination of columns and entities.
# To request the fields of User separately, we name them separately in the
# columns clause

query = select(User.username, User.fullname)
result = session.execute(query)
for row in result:
    print(f"{row.username} {row.fullname}")

### slide:: p
# as well as combinations of "entities" and columns
query = select(User, User.username)
result = session.execute(query)
for row in result:
    print(f"{row.User.id} {row.User.fullname} {row.username}")

spongebob Spongebob Jones
patrick Patrick Star
sandy Sandy Cheeks
1 Spongebob Jones spongebob
2 Patrick Star patrick
3 Sandy Cheeks sandy

In [148]:





### slide:: p
# the WHERE clause is either by filter_by(), which is convenient

for (username, ) in session.execute(
    select(User.username).filter_by(
        fullname="Spongebob Jones"
    )
):
    print(username)

### slide:: pi
# or where() for more explicitness

from sqlalchemy import or_

for (user, ) in (
    session.execute(
        select(User)
        .where(User.username == "spongebob")
        .where(or_(User.fullname == "Spongebob Jones", User.id < 5))
    )
):
    print(user)

spongebob
<User('spongebob', 'Spongebob Jones')>

In [150]:
session.close_all?

Signature: session.close_all() -> 'None'
Docstring:
Close *all* sessions in memory.

.. deprecated:: 1.3 The :meth:`.Session.close_all` method is deprecated and will be removed in a future release.  Please refer to :func:`.session.close_all_sessions`.
File:      /opt/anaconda3/lib/python3.12/site-packages/sqlalchemy/orm/session.py
Type:      method

In [152]:
session.close?

Signature: session.close() -> 'None'
Docstring:
Close out the transactional resources and ORM objects used by this
:class:`_orm.Session`.

This expunges all ORM objects associated with this
:class:`_orm.Session`, ends any transaction in progress and
:term:`releases` any :class:`_engine.Connection` objects which this
:class:`_orm.Session` itself has checked out from associated
:class:`_engine.Engine` objects. The operation then leaves the
:class:`_orm.Session` in a state which it may be used again.

.. tip::

    In the default running mode the :meth:`_orm.Session.close`
    method **does not prevent the Session from being used again**.
    The :class:`_orm.Session` itself does not actually have a
    distinct "closed" state; it merely means
    the :class:`_orm.Session` will release all database connections
    and ORM objects.

    Setting the parameter :paramref:`_orm.Session.close_resets_only`
    to ``False`` will instead make the ``close`` final, meaning that
    any further action on the session will be forbidden.

.. versionchanged:: 1.4  The :meth:`.Session.close` method does not
   immediately create a new :class:`.SessionTransaction` object;
   instead, the new :class:`.SessionTransaction` is created only if
   the :class:`.Session` is used again for a database operation.

.. seealso::

    :ref:`session_closing` - detail on the semantics of
    :meth:`_orm.Session.close` and :meth:`_orm.Session.reset`.

    :meth:`_orm.Session.reset` - a similar method that behaves like
    ``close()`` with  the parameter
    :paramref:`_orm.Session.close_resets_only` set to ``True``.
File:      /opt/anaconda3/lib/python3.12/site-packages/sqlalchemy/orm/session.py
Type:      method

In [154]:
session.close()
engine.dispose()